.footer-links {
  ul {
    li {
      display: inline;
      a{
        color: #ffffff!important;
        margin-left: 2em;
      }
    }
  }
}

.collection {
  margin: 0.5rem 0 1rem 0;

  border-radius: 2px;
  overflow: hidden;
  position: relative;
  }

.entry-content,.page-content {
  min-height: 700px;
  }

small {
  font-size: 90%;
  }

h5 {
  font-weight: 300;
  }


.select-wrapper + label {
  top: -40px!important;
  font-size: 1rem!important;
}


.collection {
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: 1px dotted #e0e0e0!important;
  .collection-item.job {
    border-left: none;
    border-right: none;
    border-top: none!important;
    border-bottom: 1px dotted #e0e0e0!important;
    a.title {
      font-size: 24px;
      font-weight: 700;
      line-height: 1;
      margin: 0;
      @media screen and (max-width: 800px){
        font-size: 18px;
        }
    }
    .location {
      font-size: 1rem !important;
    }

    .badge.new {
      @media (max-width: $medium-screen) {
        position: relative;
        top: 5px;
      }
    }
  }
}


nav {
  height: 125px!important;
  line-height: 125px!important;
  .brand-logo {
    position: relative;
    top: 8px;
    height: 115px;
  }
}

//.abs-right-5 {
//  position: absolute;
//  right: 5px;
//}
//.abs-right-0 {
//  position: absolute;
//  right: 0;
//}
.mobile-push-up {
  text-align: center;
  @media (max-width: 992px){
    position: relative;
    bottom: 25px;
  }
}

//.desktop-push-left {
//  @media (min-width: 993px) {
//    right: 5px;
//    position: relative;
//  }
//}

.badge.job-type{
  margin: 0;
  float: none;
  @media (min-width: 769px) {
    position: relative;
    top: 8px;
  }
}

span.badge.new {
  font-weight: 400!important;
  font-size: 1rem!important;
}

.company-name {
  font-weight: bold;
  font-size: 120%;
}

.search-holder .row {
  margin-bottom: 0;
}

.page-footer {
  padding-top: 10px!important;
  .row{
    margin-bottom: 0!important;
    }
}

.empty {
  @extend .center-align;
}